logging:
  level:
    root: INFO
    #    org.hibernate: DEBUG
    org.hibernate.SQL: DEBUG
#    org.hibernate.type: TRACE

server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/legacy
    driver: org.postgresql.Driver
    username: postgres
    password: password
    name: legacy
  jpa:
    hibernate:
      naming-strategy: xw.legacyserver.configs.CamelCaseNamingStrategy
      org:
        hibernate:
          envers:
            audit_table_prefix:
    properties:

      org:
        hibernate:
          envers:
            revision_type_field_name: "revtype"
            revision_field_name: "rev"
            audit_table_prefix: "aud_"
            audit_table_suffix: ""
      hibernate:
        enable_lazy_load_no_trans: true
        show_sql: true
        format_sql: true
